{% extends "base.html" %}
{% load static %}
{% block title %}Xizmatlar - Mkarim{% endblock %}

{% block content %}
<main class="main-homepage">

    <!-- Service Section -->
    <section class="service-area">
        <div class="container">
            <h1 class="section-heading" data-aos="fade-up">
                <img src="{% static 'portfolio/images/star-2.png' %}" alt="Star"> 
                Mening Xizmatlarim 
                <img src="{% static 'portfolio/images/star-2.png' %}" alt="Star">
            </h1>
            
            <div class="row">

                <!-- Sidebar -->
                <div class="col-md-4">
                    <div class="service-sidebar" data-aos="fade-right">
                        <div class="service-sidebar-inner shadow-box">
                            <ul>
                                {% for service in services %}
                                <li>
                                    <i class="{{ service.icon }} icon"></i>
                                    {{ service.title }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Content -->
                <div class="col-md-8">
                    <div class="service-content-wrap" data-aos="zoom-in">
                        <div class="service-content-inner shadow-box">
                            <div class="service-items">
                                {% for service in services %}
                                <div class="service-item">
                                    <h3>{{ service.title }}</h3>
                                    <p>{{ service.description|linebreaks }}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Profiles / Work Together / Credentials -->
            <div class="row mt-24">
                <div class="col-md-12">
                    <div class="d-flex profile-contact-credentials-wrap gap-24">

                        <!-- Profiles -->
                    <div data-aos="zoom-in">
                            <div class="about-profile-box info-box shadow-box h-full">
                                <img src="{% static 'portfolio/images/bg1.png' %}" alt="BG" class="bg-img">
                                <div class="inner-profile-icons shadow-box">
                                    {% for social in social_media %}
                                        <a href="{{ social.url }}" target="_blank" title="{{ social.name }}">
                                            <i class="{{ social.icon }}"></i>
                                        </a>
                                    {% endfor %}
                                </div>

                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="infos">
                                        <h4>Mening profillarim</h4>
                                        <h1>Profiles</h1>
                                    </div>

                                    <a href="{% url 'contact' %}" class="about-btn">
                                        <img src="{% static 'portfolio/images/icon.svg' %}" alt="Tugma">
                                    </a>
                                </div>
                            </div>
                        </div>
                    

                        <div data-aos="zoom-in" class="flex-1">
                            <div class="about-contact-box info-box shadow-box">
                                <a class="overlay-link" href="{% url 'contact' %}"></a>
                                <img src="{% static 'portfolio/images/bg1.png' %}" alt="BG" class="bg-img">
                                <img src="{% static 'portfolio/images/icon2.png' %}" alt="Icon" class="star-icon">
                                <h1>Keling <br>birgalikda <span>ishlaylik.</span></h1>
                                <a href="{% url 'contact' %}" class="about-btn">
                                    <img src="{% static 'portfolio/images/icon.svg' %}" alt="Tugma">
                                </a>
                            </div>
                        </div>

                        <!-- Credentials -->
                        <!-- Credentials -->
                        <div data-aos="zoom-in" class="h-full">
                            <div class="about-crenditials-box info-box shadow-box">
                                <a class="overlay-link" href="{% url 'credentials' %}"></a>
                                <img src="{% static 'portfolio/images/bg1.png' %}" alt="BG" class="bg-img">
                                <img src="{% static 'portfolio/images/sign.png' %}" alt="Imzo">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="infos">
                                        <h4>Men haqimda batafsil</h4>
                                        <h1>Malakalar</h1>
                                    </div>

                                    <a href="{% url 'credentials' %}" class="about-btn">
                                        <img src="{% static 'portfolio/images/icon.svg' %}" alt="Tugma">
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
</main>
{% endblock %}
